In [1]:
import pandas as pd

In [4]:
df = pd.read_parquet("../data_mutations_formatted.parquet")

In [6]:
df.head()

Entrez_Gene_Id,1,10,100,1000,10000,100009676,10001,10002,10003,100033413,...,9987,9988,9989,999,9990,9991,9992,9993,9994,9997
Tumor_Sample_Barcode,,,,,,,,,,,,,,,,,,,,,
TCGA-02-0003-01,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
TCGA-02-0033-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TCGA-02-0047-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TCGA-02-0055-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
TCGA-02-2466-01,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [3]:
import os
os.getcwd()

'/home/max/development/autoencodix_package/notebooks'

In [7]:
df.min().min()

0

In [8]:
df.max().max()

343

In [9]:
df_rna = pd.read_parquet("../data_mrna_seq_v2_rsem_formatted.parquet")

In [14]:
type(df_rna)
df_rna.shape

(10071, 16313)

In [15]:
df_rna.head()

Entrez_Gene_Id,100133144,100134869,10357,10431,155060,388795,390284,57714,645851,653553,...,55055,11130,7789,158586,79364,440590,79699,7791,23140,26009
TCGA-3X-AAV9-01,2.2265,21.7256,123.1570,860.642,147.5230,4.3549,3.2662,336.962,2.1775,385.955,...,206.859,246.598,50.6260,295.591,1123.57,2.7218,704.954,6011.43,950.463,665.759
TCGA-3X-AAVA-01,4.0766,22.2241,81.9325,991.995,75.4717,0.0000,4.0023,194.969,2.8588,522.584,...,346.878,340.766,30.8748,401.372,1104.06,0.0000,571.183,4535.16,1137.220,758.148
TCGA-3X-AAVB-01,1.4149,4.4196,146.2790,545.035,158.9890,1.9448,1.9448,291.236,5.8344,315.546,...,223.654,242.130,63.2065,655.403,1039.02,2.9172,707.427,3786.56,793.971,539.686
TCGA-3X-AAVC-01,0.0000,3.8152,241.9510,1091.160,166.2350,1.0901,2.7252,748.331,11.4457,539.038,...,634.299,1114.590,90.4755,384.248,1479.22,1.6351,592.996,3567.79,1115.140,811.010
TCGA-3X-AAVE-01,7.3770,7.6043,120.0930,907.659,174.6090,0.5166,2.5830,992.380,10.3319,279.995,...,410.435,547.591,59.9251,452.538,1482.11,0.5166,827.586,4966.55,976.882,1051.790

In [16]:
print(df_rna.shape)

(10071, 16313)

In [17]:
# filter out the rows with all zeros and columns os that I have a df of shape 1000,200 of the most relevant data (based on variance)
df_rna_filtered = df_rna.loc[(df_rna != 0).any(axis=1), (df_rna != 0).any(axis=0)]
# filter based on variance
df_rna_filtered = df_rna_filtered.loc[:, df_rna_filtered.var() > 0.1]
print(df_rna_filtered.shape)

(10071, 16313)

In [18]:
import numpy as np
del df
k = 200
df = df_rna_filtered
var = pd.Series(np.var(df, axis=0), index=df.columns, name="Var")

df_filt = df[var.sort_values(ascending=False).index[0:k]]

In [19]:
df_filt.shape

(10071, 200)

In [20]:
# save the filtered data as parquet 
file_name = os.path.join("..", "sandbox_rna.parquet")
df_filt.to_parquet(file_name)

In [22]:
import autoencodix as ax

ModuleNotFoundError: No module named 'autoencodix'